<div id="carousel" class="carousel slide banner" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://play-lh.googleusercontent.com/HD9c93xqX0BZ_V59RK2pYRsYIubopwCTMYZclumSfYu_8Djzu_Cu2_qphXQMLUgj8zI=w526-h296-rw"
                alt="" class="img-fluid d-block mx-auto">
        </div>
        <div class="carousel-item">
            <img src="https://static.zerochan.net/Love.Live%21.School.Idol.Festival.ALL.STARS.full.3262194.jpg" alt=""
                class="img-fluid d-block mx-auto">
        </div>
        <div class="carousel-item">
            <img src="https://s1.zerochan.net/Love.Live%21.Nijigasaki.Gakuen.School.Idol.Doukoukai.600.3151300.jpg"
                alt="" class="img-fluid d-block mx-auto">
        </div>
    </div>
</div>