<div id="carousel" class="carousel slide banner" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/AnimeLogo.png" alt="" class="img-fluid d-block mx-auto">
        </div>
        <div class="carousel-item">
            <img src="/images/Anime1Logo.png" alt="" class="img-fluid d-block mx-auto">
        </div>
        <div class="carousel-item">
            <img src="/images/Anime2Logo.png" alt="" class="img-fluid d-block mx-auto">
        </div>
    </div>
</div>